*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size:12px;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;

}
body{
    background: #F3F7FA;
    min-width: 800px;
    min-height: 1000px;
}
.content{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.filter {

    padding: 10px;
    min-width: 232px;
    max-width: 232px;
    height: 252px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-radius: 2%;
    background: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 20%);
}
.filter ul{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.filter ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 100%;
    list-style-type: none;
}
.filter  ul li:hover{
    content: '';
    transition:all .75s;
    background: #9ce7ff;
}
label::before{
    border: #9ABBCE 1px solid;
    border-radius: 2%;
}
.tabs{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.ticket{
    width: 502px;
    height: 184px;
    background: #FFFFFF;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 20%);
    border-radius: 2%;
}
.ticket-header{
    min-width: 462px;
    max-height: 36px;
    padding-left: 16px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.price{
    display: flex;
    font-size: 24px;
    color: #2196F3;
}
.way{
    width: 462px;
    height: 39px;
    display: flex;
    justify-content: center;

}
.route, .length, .stops{
    width: 141px;
    height: 39px;
    font-size: 12px;
}
.ticket-text, .grey-ticket-text{
    padding-top: 3px;
}
.grey-ticket-text{
    color: #A0B0B9;
}